<body class="thrColElsHdr">
<div id="container">
  <div id="header">
	<h1>汴地吃货 - 新添食堂</h1></div>
	<div id="mainContent">

<%= render 'form' %>

<p>
<%= link_to 'Back', restaurants_path %>
</p>

</div>
<div id ="footer">
<p>2012 北京大学信息科学技术学院© 王仲禹 阳泓吉 刘芸</p>
</div>
</div>
</body>
